---
import { getTranslation } from "../utils/ui";
---

<section id="about" class="about_area pt-70 pb-120">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-6 col-md-9">
        <div class="about_image mt-50 wow fadeInRightBig">
          <lottie-player
            src="assets/lotties/hire-me.json"
            background="transparent"
            class="about_shape"
            speed="1"
            loop
            autoplay></lottie-player>
        </div>

        <!-- about image -->
      </div>
      <div class="col-lg-6">
        <div
          class="about_content mt-45 wow fadeInLeftBig"
          data-wow-duration="1.3s"
          data-wow-delay="0.5s"
        >
          <div class="section_title">
            <h5 data-i18n={getTranslation("about.sub_title")} class="sub_title">
            </h5>
            <h3
              data-i18n={getTranslation("about.main_title")}
              class="main_title"
            >
            </h3>
            <ul class="line">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
          <!-- section title -->
          <p data-i18n={getTranslation("about.description_title")}></p>

          <div class="about_skills pt-15">
            <!-- skill item -->
            <div class="skill_item mt-20">
              <div class="skill_header">
                <h6
                  data-i18n={getTranslation("about.skill.fe_script")}
                  class="skill_title"
                >
                </h6>
                <div class="skill_percentage">
                  <p><span class="counter">90</span>%</p>
                </div>
              </div>
              <div class="skill_bar">
                <div class="bar_inner">
                  <div class="bar progress_line" data-width="90"></div>
                </div>
              </div>
            </div>
            <!-- skill item -->

            <div class="skill_item mt-20">
              <div class="skill_header">
                <h6
                  data-i18n={getTranslation("about.skill.fe_language")}
                  class="skill_title"
                >
                </h6>
                <div class="skill_percentage">
                  <p><span class="counter">80</span>%</p>
                </div>
              </div>
              <div class="skill_bar">
                <div class="bar_inner">
                  <div class="bar progress_line" data-width="80"></div>
                </div>
              </div>
            </div>

            <!-- skill item -->
            <div class="skill_item mt-20">
              <div class="skill_header">
                <h6
                  data-i18n={getTranslation("about.skill.be_language")}
                  class="skill_title"
                >
                </h6>
                <div class="skill_percentage">
                  <p><span class="counter">70</span>%</p>
                </div>
              </div>
              <div class="skill_bar">
                <div class="bar_inner">
                  <div class="bar progress_line" data-width="70"></div>
                </div>
              </div>
            </div>

            <!-- skill item -->
            <div class="skill_item mt-20">
              <div class="skill_header">
                <h6
                  data-i18n={getTranslation("about.skill.database")}
                  class="skill_title"
                >
                </h6>
                <div class="skill_percentage">
                  <p><span class="counter">85</span>%</p>
                </div>
              </div>
              <div class="skill_bar">
                <div class="bar_inner">
                  <div class="bar progress_line" data-width="85"></div>
                </div>
              </div>
            </div>
            <!-- skill item -->
            <div class="skill_item mt-20">
              <div class="skill_header">
                <h6
                  data-i18n={getTranslation("about.skill.docker")}
                  class="skill_title"
                >
                </h6>
                <div class="skill_percentage">
                  <p><span class="counter">70</span>%</p>
                </div>
              </div>
              <div class="skill_bar">
                <div class="bar_inner">
                  <div class="bar progress_line" data-width="70"></div>
                </div>
              </div>
            </div>
            <!-- skill item -->
          </div>
          <!-- about skill -->
        </div>
        <!-- about content -->
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
