---
import { getTranslation } from "../utils/ui";
---

<section id="counter" class="counter_area gray-bg">
  <div class="container">
    <div class="row pt-50 pb-50">
      <div class="col-lg-3 col-sm-6 pt-20 pb-20 pl-20 pr-20">
        <div
          class="single_counter d-flex align-items-center wow fadeIn"
          data-wow-duration="1.3s"
          data-wow-delay="0.2s"
        >
          <div class="counter_icon">
            <i class="lni lni-checkmark-circle"></i>
          </div>
          <div class="counter_content media-body">
            <span class="count"><span class="counter">40</span>+</span>
            <p data-i18n={getTranslation("counter.project_done")}></p>
          </div>
        </div>
        <!-- single counter -->
      </div>
      <div class="col-lg-3 col-sm-6 pt-20 pb-20 pl-20 pr-20">
        <div
          class="single_counter d-flex align-items-center wow fadeIn"
          data-wow-duration="1.3s"
          data-wow-delay="0.4s"
        >
          <div class="counter_icon">
            <i class="lni lni-emoji-happy"></i>
          </div>
          <div class="counter_content media-body">
            <span class="count"><span class="counter">20</span></span>
            <p data-i18n={getTranslation("counter.satisfied_clients")}></p>
          </div>
        </div>
        <!-- single counter -->
      </div>
      <div class="col-lg-3 col-sm-6 pt-20 pb-20 pl-20 pr-20">
        <div
          class="single_counter d-flex align-items-center wow fadeIn"
          data-wow-duration="1.3s"
          data-wow-delay="0.6s"
        >
          <div class="counter_icon">
            <i class="lni lni-bolt"></i>
          </div>
          <div class="counter_content media-body">
            <span class="count"><span class="counter">15</span>+</span>
            <p data-i18n={getTranslation("counter.active_project")}></p>
          </div>
        </div>
        <!-- single counter -->
      </div>
      <div class="col-lg-3 col-sm-6 pt-20 pb-20 pl-20 pr-20">
        <div
          class="single_counter d-flex align-items-center wow fadeIn"
          data-wow-duration="1.3s"
          data-wow-delay="0.8s"
        >
          <div class="counter_icon">
            <i class="lni lni-pyramids"></i>
          </div>
          <div class="counter_content media-body">
            <span class="count"><span class="counter">5</span></span>
            <p data-i18n={getTranslation("counter.years_experience")}></p>
          </div>
        </div>
        <!-- single counter -->
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
