<section id="counter" class="counter_area gray-bg pt-70 pb-120">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div
          class="single_counter mt-50 d-flex align-items-center wow fadeIn"
          data-wow-duration="1.3s"
          data-wow-delay="0.2s"
        >
          <div class="counter_icon">
            <i class="lni lni-checkmark-circle"></i>
          </div>
          <div class="counter_content media-body">
            <span class="count"><span class="counter">123</span>+</span>
            <p>Projects Done</p>
          </div>
        </div>
        <!-- single counter -->
      </div>
      <div class="col-lg-3 col-sm-6">
        <div
          class="single_counter mt-50 d-flex align-items-center wow fadeIn"
          data-wow-duration="1.3s"
          data-wow-delay="0.4s"
        >
          <div class="counter_icon">
            <i class="lni lni-emoji-happy"></i>
          </div>
          <div class="counter_content media-body">
            <span class="count"><span class="counter">70</span></span>
            <p>Satisfied Clients</p>
          </div>
        </div>
        <!-- single counter -->
      </div>
      <div class="col-lg-3 col-sm-6">
        <div
          class="single_counter mt-50 d-flex align-items-center wow fadeIn"
          data-wow-duration="1.3s"
          data-wow-delay="0.6s"
        >
          <div class="counter_icon">
            <i class="lni lni-bolt"></i>
          </div>
          <div class="counter_content media-body">
            <span class="count"><span class="counter">15</span></span>
            <p>Active Projects</p>
          </div>
        </div>
        <!-- single counter -->
      </div>
      <div class="col-lg-3 col-sm-6">
        <div
          class="single_counter mt-50 d-flex align-items-center wow fadeIn"
          data-wow-duration="1.3s"
          data-wow-delay="0.8s"
        >
          <div class="counter_icon">
            <i class="lni lni-pyramids"></i>
          </div>
          <div class="counter_content media-body">
            <span class="count"><span class="counter">5</span></span>
            <p>Years Experience</p>
          </div>
        </div>
        <!-- single counter -->
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
