---
import ProjectCard from "../components/ProjectCard.astro";

interface Project {
  title: string;
  image: string;
  category: string;
  description: string;
  link: string;
}

const projects: Project[] = [
  {
    title: "Quản lý hệ thống nội bộ công ty",
    image: "/assets/images/project-1.jpg",
    category: "Hệ thống quản lý",
    description:
      "Hệ thống hỗ trợ chấm công, giao task, nhắn tin nội bộ và theo dõi tiến độ công việc.",
    link: "#",
  },
  {
    title: "Dịch vụ vận tải",
    image: "/assets/images/project-2.jpg",
    category: "Vận tải & Logistics",
    description:
      "Hệ thống quản lý vận chuyển, đặt đơn, tính tiền, theo dõi hành trình.",
    link: "#",
  },
  {
    title: "Eztub Media - Hệ thống đăng video YouTube",
    image: "/assets/images/project-ez.jpg",
    category: "Tự động hóa nội dung",
    description: "Batch tự động lấy video, phân phối, livestream lên YouTube.",
    link: "#",
  },
  {
    title: "Quản lý thông tin KOL/KOC",
    image: "/assets/images/project-kol-landing.jpg",
    category: "Influencer Marketing",
    description:
      "Hệ thống quản lý và kết nối influencer với khách hàng, theo dõi hiệu suất chiến dịch.",
    link: "#",
  },
  {
    title: "Crawl hot trending",
    image: "/assets/images/project-.jpg",
    category: "Dữ liệu & AI",
    description: "Hệ thống tự động thu thập thông tin trending từ nhiều nguồn.",
    link: "#",
  },
  {
    title: "Fixel - Hệ thống kết nối dịch vụ sửa chữa",
    image: "/assets/images/project-fixel.jpg",
    category: "Dịch vụ sửa chữa",
    description:
      "Gồm 2 app React Native (Fixel, Worker), website admin và landing page để kết nối khách hàng với thợ sửa chữa.",
    link: "#",
  },
  {
    title: "Hệ thống quản lý bật/tắt máy tính",
    image: "/assets/images/project-meta-pc.jpg",
    category: "Quản lý hệ thống",
    description:
      "Quản lý và điều khiển trạng thái bật/tắt máy tính từ xa nhằm tiết kiệm điện năng.",
    link: "#",
  },
];
---

<section id="project" class="project_area pt-125">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="section_title pb-30">
          <h5 class="sub_title">Portfolio</h5>
          <h3 class="main_title">Latest Projects</h3>
          <ul class="line">
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="project_btn text-sm-right">
          <a class="main-btn main-btn-2" href="#">All Works</a>
        </div>
      </div>
    </div>

    <div class="row project_active">
      {projects.map((project) => <ProjectCard project={project} />)}
    </div>
  </div>
</section>
