---
import { getTranslation } from "../utils/ui";
---

<section id="services" class="services_area pt-115 pb-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center pb-30">
          <h5
            data-i18n={getTranslation("services.sub_title")}
            class="sub_title"
          >
          </h5>
          <h3
            data-i18n={getTranslation("services.main_title")}
            class="main_title"
          >
          </h3>
          <ul class="line">
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div
          class="single_service mt-30 wow fadeInUpBig"
          data-wow-duration="1.3s"
          data-wow-delay="0.2s"
        >
          <div class="service_icon">
            <i class="lni lni-code"></i>
          </div>
          <div class="service_content">
            <h4
              data-i18n={getTranslation("services.frontend.title")}
              class="service_title"
            >
            </h4>
            <p data-i18n={getTranslation("services.frontend.description")}></p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div
          class="single_service mt-30 wow fadeInUpBig"
          data-wow-duration="1.3s"
          data-wow-delay="0.5s"
        >
          <div class="service_icon">
            <i class="lni lni-codepen"></i>
          </div>
          <div class="service_content">
            <h4
              data-i18n={getTranslation("services.backend.title")}
              class="service_title"
            >
            </h4>
            <p data-i18n={getTranslation("services.backend.description")}></p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div
          class="single_service mt-30 wow fadeInUpBig"
          data-wow-duration="1.3s"
          data-wow-delay="0.8s"
        >
          <div class="service_icon">
            <i class="lni lni-layers"></i>
          </div>
          <div class="service_content">
            <h4
              data-i18n={getTranslation("services.fullstack.title")}
              class="service_title"
            >
            </h4>
            <p data-i18n={getTranslation("services.fullstack.description")}></p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div
          class="single_service mt-30 wow fadeInUpBig"
          data-wow-duration="1.3s"
          data-wow-delay="0.2s"
        >
          <div class="service_icon">
            <i class="lni lni-network"></i>
          </div>
          <div class="service_content">
            <h4
              data-i18n={getTranslation("services.api.title")}
              class="service_title"
            >
            </h4>
            <p data-i18n={getTranslation("services.api.description")}></p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div
          class="single_service mt-30 wow fadeInUpBig"
          data-wow-duration="1.3s"
          data-wow-delay="0.5s"
        >
          <div class="service_icon">
            <i class="lni lni-database"></i>
          </div>
          <div class="service_content">
            <h4
              data-i18n={getTranslation("services.database.title")}
              class="service_title"
            >
            </h4>
            <p data-i18n={getTranslation("services.database.description")}></p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div
          class="single_service mt-30 wow fadeInUpBig"
          data-wow-duration="1.3s"
          data-wow-delay="0.8s"
        >
          <div class="service_icon">
            <i class="lni lni-cloud-network"></i>
          </div>
          <div class="service_content">
            <h4
              data-i18n={getTranslation("services.devops.title")}
              class="service_title"
            >
            </h4>
            <p data-i18n={getTranslation("services.devops.description")}></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
