---

---

<section id="services" class="services_area pt-115 pb-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center pb-30">
          <h5 class="sub_title">Services</h5>
          <h3 class="main_title">Service I Provide</h3>
          <ul class="line">
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <!-- section title -->
      </div>
    </div>
    <!-- row -->

    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div
          class="single_service mt-30 wow fadeInUpBig"
          data-wow-duration="1.3s"
          data-wow-delay="0.2s"
        >
          <div class="service_icon">
            <i class="lni lni-code"></i>
          </div>
          <div class="service_content">
            <h4 class="service_title">Frontend Development</h4>
            <p>
              I build responsive, high-performance web applications using
              React.js, Next.js, and TypeScript.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div
          class="single_service mt-30 wow fadeInUpBig"
          data-wow-duration="1.3s"
          data-wow-delay="0.5s"
        >
          <div class="service_icon">
            <i class="lni lni-codepen"></i>
          </div>
          <div class="service_content">
            <h4 class="service_title">Backend Development</h4>
            <p>
              Creating scalable backend solutions with Node.js, NestJS, RESTful
              APIs, and database integration.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div
          class="single_service mt-30 wow fadeInUpBig"
          data-wow-duration="1.3s"
          data-wow-delay="0.8s"
        >
          <div class="service_icon">
            <i class="lni lni-layers"></i>
          </div>
          <div class="service_content">
            <h4 class="service_title">Full-stack Development</h4>
            <p>
              Combining frontend and backend expertise to deliver complete and
              seamless web solutions.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div
          class="single_service mt-30 wow fadeInUpBig"
          data-wow-duration="1.3s"
          data-wow-delay="0.2s"
        >
          <div class="service_icon">
            <i class="lni lni-network"></i>
          </div>
          <div class="service_content">
            <h4 class="service_title">API Development & Integration</h4>
            <p>
              Design and develop reliable RESTful APIs and GraphQL for seamless
              system integration.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div
          class="single_service mt-30 wow fadeInUpBig"
          data-wow-duration="1.3s"
          data-wow-delay="0.5s"
        >
          <div class="service_icon">
            <i class="lni lni-database"></i>
          </div>
          <div class="service_content">
            <h4 class="service_title">Database Management</h4>
            <p>
              Experienced in designing, implementing, and managing PostgreSQL,
              MongoDB, and Redis databases.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div
          class="single_service mt-30 wow fadeInUpBig"
          data-wow-duration="1.3s"
          data-wow-delay="0.8s"
        >
          <div class="service_icon">
            <i class="lni lni-cloud-network"></i>
          </div>
          <div class="service_content">
            <h4 class="service_title">DevOps & Deployment</h4>
            <p>
              Containerize applications with Docker, orchestrate deployments,
              and manage CI/CD workflows.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
