---

---

<section id="testimonial" class="testimonial_area pt-115 pb-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center pb-30">
          <h5 class="sub_title">Testmonials</h5>
          <h3 class="main_title">What Clients Says</h3>
          <ul class="line">
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <!-- section title -->
      </div>
    </div>
    <!-- row -->
    <div class="row testimonial_active">
      <div class="col-lg-6">
        <div class="single_testimonial d-sm-flex mt-30">
          <div class="testimonial_author">
            <img src="assets/images/author-1.jpg" alt="author" />
          </div>
          <div class="testimonial_content media-body">
            <h4 class="author_name">Rob Hope</h4>
            <span class="sub_title">CEO, OnePageLove</span>
            <p>
              Lorem ipsum dolor sit amet, consetetuad ipscing elitr, sed diam
              nonumy eirmodem por invidunt ut labore et dolore magna aliquyam
              erat sed diam.
            </p>
            <ul class="review">
              <li><i class="lni lni-star-filled"></i></li>
              <li><i class="lni lni-star-filled"></i></li>
              <li><i class="lni lni-star-filled"></i></li>
              <li><i class="lni lni-star-filled"></i></li>
              <li><i class="lni lni-star-filled"></i></li>
            </ul>
          </div>
        </div>
        <!-- single testimonial -->
      </div>
      <div class="col-lg-6">
        <div class="single_testimonial d-sm-flex mt-30">
          <div class="testimonial_author">
            <img src="assets/images/author-2.jpg" alt="author" />
          </div>
          <div class="testimonial_content media-body">
            <h4 class="author_name">Elon Musk</h4>
            <span class="sub_title">Founder, Tesla</span>
            <p>
              Lorem ipsum dolor sit amet, consetetuad ipscing elitr, sed diam
              nonumy eirmodem por invidunt ut labore et dolore magna aliquyam
              erat sed diam.
            </p>
            <ul class="review">
              <li><i class="lni lni-star-filled"></i></li>
              <li><i class="lni lni-star-filled"></i></li>
              <li><i class="lni lni-star-filled"></i></li>
              <li><i class="lni lni-star-filled"></i></li>
              <li><i class="lni lni-star"></i></li>
            </ul>
          </div>
        </div>
        <!-- single testimonial -->
      </div>
      <div class="col-lg-6">
        <div class="single_testimonial d-sm-flex mt-30">
          <div class="testimonial_author">
            <img src="assets/images/author-1.jpg" alt="author" />
          </div>
          <div class="testimonial_content media-body">
            <h4 class="author_name">Musharof Chowdhury</h4>
            <span class="sub_title">Head of Ideas, UIdeck</span>
            <p>
              Lorem ipsum dolor sit amet, consetetuad ipscing elitr, sed diam
              nonumy eirmodem por invidunt ut labore et dolore magna aliquyam
              erat sed diam.
            </p>
            <ul class="review">
              <li><i class="lni lni-star-filled"></i></li>
              <li><i class="lni lni-star-filled"></i></li>
              <li><i class="lni lni-star-filled"></i></li>
              <li><i class="lni lni-star-filled"></i></li>
              <li><i class="lni lni-star"></i></li>
            </ul>
          </div>
        </div>
        <!-- single testimonial -->
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
